<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="commentMapper">
  	<select id="selectAll" resultType="CommentDto">
  		select *
  		from comment
  		order by coalesce(comment_parent, comment_no), comment_seq 
  	</select>
  	
  	<select id="selectAllByKey" parameterType="hashmap" resultType="CommentDto">
  		select *
  		from comment
  		where ${key} = #{value}
  		order by coalesce(comment_parent, comment_no), comment_seq 
  	</select>
  	
  	<select id="selectOne" parameterType="int" resultType="CommentDto">
  		select *
  		from comment
  		where comment_no = #{comment_no}
  	</select>
  	
  	<insert id="insertOne" parameterType="CommentDto">
  		insert into comment(board_no, comment_no, comment_parent, comment_depth, comment_seq, member_id, comment_content, comment_date)
  		values (#{board_no}, default, #{comment_parent}, #{comment_depth}, #{comment_seq}, #{member_id}, #{comment_content}, now())
  	</insert>
  	
  	<update id= "updateOne" parameterType="CommentDto">
  		update comment
  		<set>
  			<if test="comment_content != null">comment_content = #{comment_content},</if>
  		</set>
  		where
  		comment_no = #{comment_no}
  	</update>
  	
  	<delete id="deleteOne" parameterType="int">
  		delete from comment
  		where
  		comment_no = #{comment_no}
  	</delete>
  	
  </mapper>