<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.bbs.board.dto.Board" alias="Board"/>
  		<typeAlias type="com.bbs.comment.dto.Comment" alias="Comment"/>
  		<typeAlias type="com.bbs.member.dto.Member" alias="Member"/>
  	</typeAliases>
  </configuration>